.wrapper{
    margin:0 auto;
    width: 90%;
    border:1px white;
    overflow:hidden;
}
.gridf, .grid, .gridl{
Background:white;
    width:300px;
    height:400px;
    float:left;
    margin:2px 0;
}
.gridf{

}
.grid{

margin:2px 1%;

}
.gridl{
  background:white;
}
